:root {
  --background-color: #fff;
  --text-color: #000;
  --text-muted-color: #9ca3af;
}

[color-mode="dark"] {
  --background-color: hsl(212.3, 31.7%, 8%);
  --background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: 500;
}

.ap-nav-link {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 700;
  list-style: none;
  padding: 0px;
  border-bottom: 2px solid var(--text-color);
  text-decoration: none;
}

.ap-nav-link:hover {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 4px solid var(--text-color);
}

.app-container {
  height: 100vh;
  box-sizing: border-box;
}

.crumb-link {
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.25rem;
  margin-right: 0.25rem;
}

.crumb-link:hover {
  border-bottom: 4px solid var(--text-color);
  color: var(--text-color);
  text-decoration: none;
}

.ap-nav-wrapper {
  margin-top: 0;
  margin-bottom: 1rem;
}

.svg-icon svg {
  position: relative;
  height: 1em;
  width: 1em;
  bottom: 0.125em;
}

.svg-icon-xl svg {
  position: relative;
  height: 3em;
  width: 3em;
}

a svg:hover {
  stroke-width: 2px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}

.project-icon svg {
  stroke: white;
}

.project-icon-container {
  height: 4rem;
  width: 4rem;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon-container {
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

.crumb-seperator {
  font-weight: 700;
  display: inline-block;
  margin-right: 0.25rem;
}

.footer-container {
  height: 160px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: var(--text-muted-color);
}

.footer-bottom {
  position: absolute;
  bottom: 0;
}

.scroll-to-top-container {
  position: fixed;
  bottom: 64px;
  right: 16px;
  z-index: 1000;
  cursor: pointer;
}

.scroll-icon-container {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: white;
  border: 2px solid var(--text-color);
}

.flex-column {
  flex-direction: column;
}

.blog-link {
  color: var(--text-color);
  text-decoration: none;
}

.blog-link:hover {
  color: var(--text-color);
}

.blog-date {
  font-size: 0.875rem;
  display: inline;
  color: var(--text-muted-color);
}

body {
  font-family: sans-serif;
}

.pl-0 {
  padding-left: 0rem;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

a {
  color: #60a5fa;
  text-decoration: none;
}

.container {
  margin: auto;
  max-width: 1024px;
  padding: 0 1rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-1 {
  margin-left: 0.25rem;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0rem;
}

* {
  box-sizing: border-box;
}

p {
  display: inline-block;
  line-height: 1.5rem;
}

.svg-text svg {
  stroke: var(--text-color);
}

.mr-1 {
  margin-right: 0.25rem;
}
